*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.todo-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: #ddd;
}

@media (min-width: 540px) {
  .todo-container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .todo-container {
    width: 60%;
  }
}

.button-wrapper {
  display: inline-block;
  width: 100%;
}

.button-wrapper button {
  float: right;
  margin: 0 10px 10px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bolder;
  outline: none;
}

.add-button {
  background-color: #00dd77;
}

.cancel-button {
  background-color: #ff4500;
}

.todo-tabs {
  width: 31%;
  border: none;
  background-color: #fff;
  margin: 0px 1%;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todo-tabs:focus {
  outline: none;
}

.todo-tabs.active {
  background-color: #00ddee;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  text-align: left;
  margin: 10px 10px;
  padding: 8px;
  background-color: #efefef;
  border-radius: 5px;
}

li:after {
  display: table;
  content: '';
  clear: both;
}

li:nth-child(even) {
  background-color: #fff;
}

.todo-text {
  width: 82%;
  display: inline-block;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.action-buttons {
  display: inline-block;
  vertical-align: middle;
  width: 18%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.remove-button {
  margin:0 12%;
  float: right;
}

.remove-button:hover {
  cursor: pointer;
}

textarea {
  display: block;
  width: 90%;
  height: 50px;
  margin: 0px auto;
}

.submit-button {
  margin: 10px;
  padding: 8px 40px;
  font-weight: bold;
  border: none;
  color: #fff;
  background-color: #00dd77;
}